.todo-item {
  margin: auto;
  margin-bottom: 1.5rem;
  background-color: #584944;
  opacity: 0.9;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgb(0 0 0 / 25%);
  max-width: 30%;
}
.todo-item__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.todo-item__label {
  text-align: start;
  width: 40%;
  justify-self: start;
  align-self: start;
  font-weight: bold;
  margin-left: 20px;
  color: #ccc;
  padding: 0.4rem;
}
.todo-item__context {
  width: 70%;
  margin-left: 20px;
  font-weight: normal;
  margin-bottom: 0.3rem;
  justify-self: start;
  align-self: start;
  padding: 0.4rem;
  color: #ccc;
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.todo-item__all {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.todo-item__edit {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.todo-item__delete {
  width: 20%;
  /* height: 185;
  background: #ff0000; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 12;
  border-bottom-right-radius: 12;
}
